@media only screen and (max-width:991px){
    .main-menu {
        text-align: left;
        margin-top: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 380px;
        background: #1686ca;
        height: 100vh;
        padding: 20px;
        overflow-y: auto;
    }
    .main-menu li {
        transition: 0.1s;
        display: block;
        margin-bottom: 10px;
        
    }
    .main-menu li a {
       display: block;
       color: #fff;
       padding: 5px 10px 5px 20px;
    }
    .main-menu ul {
        width: 100%;
        background: none;
        text-align: left;
        position: static;
        opacity: 1;
        visibility: visible;
        display:none;
        margin-top: 0;
        margin-left: 30px;
        max-height: 0;
        overflow: hidden;
    }
    .main-menu  ul {
    max-height:0 ;
    }
    .main-menu ul ul {
        background: none;
    }
    .main-menu ul li {
        margin-bottom: 0;
    }
    .main-menu .mobile_item {
        color: #fff;
        display: block;
        margin-bottom: 10px;
        padding: 5px 10px 5px 20px;
    }

    
    
    .main-menu .mobile_item:hover {
        background: #5f0aa675;
        transition: .3s;
    }
     .main-menu ul .mobile_item:hover {
        background: #119ecafc;
    }
    .main-menu ul .mobile_item {
        margin-bottom: 0;
    }
    .main-menu .desktop_item {
        display: none;
    }
    #showDrop:checked ~ ul{
    max-height: 100%;
    margin-top:-5px;
    display: block;
    }

    #showDrop2:checked ~ ul{
        max-height: 100%;
        display: block;
    }
    

    .main-menu input[type=checkbox] {
        display: none;
    }
    
/* hover */
.main-menu > li:hover > a {
    background: #5f0aa675;
  }
.main-menu ul ul > li:hover > a {
	background: #286dc5c4;
}
.mega_menu {
	
	top: 99999999px;
	
}

    
}