
@media only screen and (max-width:1550px){
    .mega_menu {
        left: 10%;
        width: 80%;
    }
}
@media only screen and (max-width:1200px){
    .mega_menu {
        left: 5%;
        width: 90%;
    }
}
@media only screen and (max-width:1100px){
    .mega_menu {
        left: 0;
        width: 100%;
    }
}
@media only screen and (max-width:991px){
    .main-menu {
        text-align: left;
        margin-top: 0;
        position: fixed;
        left:-100%;
        top: 0;
        width: 100%;
        max-width: 380px;
        background: #1686ca;
        height: 100vh;
        padding: 80px 0px 20px 30px;
        overflow-y: auto;
        transition: all .3s ease;
    }
    .main-menu li {
        transition: 0.1s;
        display: block;
        margin-bottom: 10px;
        
    }
    .main-menu li a {
       display: block;
       color: #fff;
       padding: 5px 10px 5px 20px;
       transition: .2s;
       border-left: 3px solid transparent;
    }
    .main-menu li > a {
        border-radius: 0;
      }
    .main-menu ul {
        width: 100%;
        background: none;
        text-align: left;
        position: static;
        opacity: 1;
        visibility: visible;
        display:none;
        margin-top: 0;
        margin-left: 30px;
        max-height: 0;
        overflow: hidden;
    }
    .main-menu  ul {
    max-height:0 ;
    }
    .main-menu ul ul {
        background: none;
    }
    .main-menu ul li {
        margin-bottom: 0;
    }
    nav .mobile_item {
        color: #fff;
        display: block;
        margin-bottom: 10px;
        padding: 5px 10px 5px 20px;
        border-left: 3px solid transparent;
    }
    nav .mobile_item.menu_btn {
        color:#333;
    }

    
    
    .main-menu .mobile_item:hover {
        background: #6108ac45;
        transition: .3s;
        border-left-color: #0004ffba;
    }
     .main-menu ul .mobile_item:hover {
        background: #119ecafc;
        border-left: 3px solid aqua;
    }
    .main-menu ul .mobile_item {
        margin-bottom: 0;
    }
    .main-menu .desktop_item {
        display: none;
    }
    #showDrop:checked ~ ul{
    max-height: 100%;
    margin-top:-5px;
    display: block;
    }

    #showDrop2:checked ~ ul{
        max-height: 100%;
        display: block;
    }
    
    #showDrop_3:checked ~ ul{
        max-height: 100%;
        display: block;
        background: none;
        
    }
    

    
    
/* hover */
.main-menu > li:hover > a {
    background: #6108ac45;
    border-left-color: #0004ffba;
  }
  .main-menu ul li:hover > a {
	background: #0fb4e8cf;
}
  .main-menu ul li:hover > a {
	border-left: 3px solid aqua;
}
.main-menu ul ul > li:hover > a {
    background: #0ba4d291;
	border-left: 3px solid aqua;
}

.main-menu .mobile_item i {
	position: absolute;
	right: 20px;
	margin-top: 5px;
}
.main-menu ul .mobile_item i {
	right: 48px;
}
.main-menu ul ul .mobile_item i {
	right: 75px;
	top: 6px;
}

.main-menu .mega_menu {
	position: static;
	opacity: 1;
	visibility: visible;
    margin-top: 0;
    display: none;  
    padding: 25px 35px 25px;
}
.main-menu .mega_menu ul {
	background: none;
	display: block;
	max-height: none;
}
#show_mega:checked ~ div.mega_menu{
    display: block;
    margin-top: -10px;
}
.main-menu .mega_menu .mega_img {
	min-height: 250px;
}
.mega_menu h3 {
	margin-top: 16px;
}
/* .main-menu::-webkit-scrollbar{
    width:0px;
    color:red;
} */
.main-menu .btn {
   display: block;
  }
  .main-menu .btn.cancel_btn {
    position: absolute;
    right: 4px;
    top: 6px;
  }
  #menuBtn:checked ~ .main-menu{
      left:0%;
  }
  
  #cancelBtn:checked ~ .main-menu{
      left : -100%;
  }
  /* #cancelBtn:checked ~ .main-menu{
      left:-100%;
  } */
  .mega_menu .row > .col-lg-9 {
	padding-left: 0;
}

    
}
@media only screen and (max-width:400px){
    .main-menu {
        padding: 80px 0px 20px 10px;
    }
}